/**
 *Estilos panel de administracion
 */
@media only screen and (min-width:970px) {
    .height-fixed-setting{
        height: 450px;
        overflow-x: auto;
    }
}

.background-blocks-admin{
    border: 1px solid #4899D4;
    padding: 5px 30px;
}
.background-blocks-title-admin{
    border: 1px solid #4899D4;
    background: #4899D4;
    padding: 5px 30px;
    border-radius:  5px 5px 0 0 ;
}
.background-blocks-btn-admin{
    border: 1px solid #4899D4;
    background: #4899D4;
    padding: 5px 30px;
    border-radius: 0 0 5px 5px ;
}

.content-stadistics{
    min-height: 200px ;
}

.iconNumberclick {
    position: absolute;
    background: black;
    border-radius: 50%;
    padding: 0px 4px;
    top: -5px;
    left: -8px;
}
.numberClick{
    width: 52px;
    padding-top: 11px;
    height: 52px;
    border-radius: 50%;
    background: #F27373;
    text-align: center;
    border: 4px solid #000000;
    display: inline-block;
    color: white;
    vertical-align: top;
    position: relative;
}

.content-conver{
    display: inline-block;
    padding: 4px 0;
    padding-left: 35px;
    padding-right: 8px;
    background: rgb(0, 0, 0);
    border-radius: 0 4px 4px 0;
    margin-left: -34px;
    z-index: -5;
    color: white;
    position: relative;
    vertical-align: bottom;
}