/**
* Estilos de index general
**/
#header-login{
    background: #4899D4;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#content-login{
    background: #D6D6D6;
    width: 320px;
    padding: 10px 20px;
    border-radius: 2px;
    margin: 20px auto 0 auto;
    box-shadow: 2px 2px 1px #B8B8B8;
}

.footer-login{
    width: 100%;
    height: Auto;
    bottom: 0;
}

.footer-login-scroll-active{
    width: 100%;
    height: Auto;
    bottom: 0;
}