/*
*= require utilitys/bootstrap.3.2.0/bootstrap.min.css
*= require utilitys/bootstrap.3.2.0/bootstrap-theme.min.css
*= require utilitys/sweetalert/sweet-alert.css
*= require utilitys/magnificPopup/magnific-popup.css
*= require_tree .
*/
@media only screen and (min-width:976px) {
    .margin-create-campaign{
        padding-top: 30px;
    }
    .paddingTop-30{
        padding-top: 30px;
    }
}

@media (min-width: 768px){
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}
@media only screen and (max-width:768px) {
    .no-visible-mobile{
        display: none;
    }

    .footer-position-mobile{
        position: relative !important;
        margin-top: 100px;
    }
}
#content-page{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(56, 56, 56, 0.8);
}
.content-loading{
    position: absolute;
    width: 75px;
    height: 75px;
    top: 50%;
    margin: -37.5px 0 0 -37.5px;
    left: 50%;
}

.width-total-content{
    width: 100%;
}

.text-white{
    color: #fff;
}

.text-erro-login{
    color: red;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width:auto;
    max-width: 500px;
    margin: 20px auto;
}

.condence-content{
    padding: 10px 40px;
}

.dashboard-rowone{
    background: #DBDBDB;
    padding: 6px 12px;
    border-radius: 6px;
    box-shadow: 3px 3px 3px #D1D1D1;
}
.dashboard-rowtwo{
    background: #DBDBDB;
    padding: 6px 12px;
    border-radius: 6px;
    box-shadow: 3px 3px 3px #D1D1D1;
}

.border-separed{
    border-bottom: 1px solid #D6D6D6;
    width: 90%;
    padding: 10px 0;
    margin: 0 auto;
}

