/*
*= require utilitys/bootstrap.3.2.0/bootstrap.min.css
*= require utilitys/bootstrap.3.2.0/bootstrap-theme.min.css
*= require_tree .
*/
@media only screen and (max-width:768px) {
    .no-visible-mobile{
        display: none;
    }

    .footer-position-mobile{
        position: relative !important;
        margin-top: 100px;
    }
}
#content-page{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(56, 56, 56, 0.8);
}
.content-loading{
    position: absolute;
    width: 75px;
    height: 75px;
    top: 50%;
    margin: -37.5px 0 0 -37.5px;
    left: 50%;
}

.width-total-content{
    width: 100%;
}

.text-white{
    color: #fff;
}

.text-erro-login{
    color: red;
}

